<div class="unit one-quarter hide-on-mobiles">
  <aside>
    <h4>Getting Started</h4>
    {% include docs_ul.html items='home quickstart installation usage hacking presentations' %}
    <h4>Tutorials</h4>
    {% include docs_ul.html items='functions messages ios android' %}
    <h4>Tools</h4>
    {% include docs_ul.html items='frida-cli frida-ps frida-trace frida-discover' %}
    <h4>API Reference</h4>
    {% include docs_ul.html items='javascript-api' %}
    <h4>Miscellaneous</h4>
    {% include docs_ul.html items='troubleshooting building' %}
    <h4>Meta</h4>
    {% include docs_ul.html items='contributing gsoc-ideas-2015 history' %}
  </aside>
</div>
