<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="alternate" type="application/rss+xml" title="Frida - Feed" href="/feed.xml" />
  <link rel="alternate" type="application/atom+xml" title="Recent commits to Frida’s master branch" href="{{ site.organization_url }}/frida/commits/master.atom" />
  <link rel="stylesheet" href="{{ site.url }}/css/screen.css" />
  <link rel="icon" type="image/png" href="{{ site.url }}/favicon.ico" />
  <script src="{{ site.url }}/js/modernizr-2.5.3.min.js"></script>
</head>
