---
layout: default
---

  <section class="docs">
    <div class="grid">

      {% include docs_contents_mobile.html %}
      {% include docs_contents.html %}

      <div class="docs-articles unit three-quarters">
        <article>
          <div class="improve right hide-on-mobiles">
            <a href="https://github.com/frida/frida-website/edit/main/_i18n/{{ site.lang }}/{{ page.path }}">
              <i class="fa fa-pencil"></i>Improve this page</a>
          </div>
          <h1>{{ page.title }}</h1>
          {{ content }}
          {% include section_nav.html %}
        </article>
      </div>

    </div>
  </section>
